body {
  height: 100%;
}

#header {
  height: 120px;
  background-color: grey;
  padding: 10px;
}

.button {
  display: inline;
  float: right;
  width: 100px;
  height: 100px;
  background-color: red;
}

#logo {
  background-image: url('../images/HPE-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}
